<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">PizzaShop</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/home}"><i class="fa fa-home mr-2"></i>Home</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/products}">Admin</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/cart}">Cart</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()"
                        class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Log out</button>
            </form>
            <form class="form-inlice my-2 my" form-method="post" th:action="@{/login}">
                <button sec:authorize="isAnonymous()" th:href="@{/login}"
                        class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Log in</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>